# temp files
out/
build/
bin/

# dot files
.classpath
.project
.settings/
*.sw*

# gradle
/gradle/
.gradle/

# tools
/tools/instrument-parser/node_modules/
/tools/instrument-parser/output/*.xml

# log files
*.log

# IDE
/.idea/
*.iml

# OS
.DS_Store

# env
*.env

#local
dump.rdb
