*.iml
.gradle/
build/
.classpath
.project
.settings/
bin/
.idea
*.env
*.sw*
/build/
/.idea/
/.gradle/

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

gradle/wrapper
/gradle/
/gradlew
/tools/instrument-parser/npm_modules/
/tools/instrument-parser/output/changelog.xml
/tools/instrument-parser/output/assessment.json
