# temp files
out/
build/
bin/

# dot files
.classpath
.project
.settings/
*.sw*

# gradle
gradle/wrapper
/gradle/
.gradle/

# tools
/tools/instrument-parser/node_modules/
/tools/instrument-parser/output/changelog.xml
/tools/instrument-parser/output/assessment.json

# log files
*.log

# IDE
/.idea/
*.iml

# OS
.DS_Store

# env
*.env