#common
CANS_API_PORT=8080
PERRY_PORT=18080
POSTGRES_PORT=5432

#perry
DEV_MODE=true
LOG_LEVEL=INFO

#cans db
DB_NS_JDBC_URL=jdbc:postgresql://postgres:5432/postgres_data
DB_NS_SCHEMA=cans
DB_NS_USER=postgres_data
DB_NS_PASSWORD=postgres_data

#cans-api
LOGIN_URL=http://localhost:18080/perry/authn/login
LOGOUT_URL=http://localhost:18080/perry/authn/logout
SWAGGER_TOKEN_URL=http://perry:8080/perry/authn/token
SWAGGER_JSON_URL=http://localhost:8080/swagger.json
SWAGGER_CALLBACK_URL=http://localhost:8080/swagger
SHIRO_CONFIG_PATH=/opt/cans-api/config/shiro_v2_docker_compose.ini
KEY_STORE_FILE=/opt/cans-api/config/testKeyStore.jks
AUTHORIZATION_ENABLED=true